
body{
    background-image: url(../arte/savana2.jpg);   
    }
    #setad{width:50px; 
    height:50px;
    position:relative;
    left:90%;
    bottom: 70px;
    background: transparent;
    }
    #certo{
        width:50px;
        height:50px;
        position:relative;
        left:50px;  
    }
    table{
            margin: auto;
            display: table;
    }
    .aranha{
        height:200px ;
        width: 200px;
    }
    td{
    width: 50px;
    }
    .at{
        background-color: #5e6515;        
        width:300px;
        height: 300px;
        border-radius: 50px;
    }
    #cor{
        background-color:rgba(94, 101, 21, 0.6);
        height: 600px;
        width: 80%;
        margin: auto;
        display: table;
        border-radius: 30px;
    }
    