
body{
    background-image: url(../portugues/a1.jpg); 
    font-family: 'Gulya', sans-serif;
    background-repeat: no-repeat;  
    background-size: cover;
    }
#setad{width:50px; 
height:50px;
position:relative;
left:90%;
bottom: 70px;
background: transparent;
}
#certo{
    width:50px;
    height:50px;
    position:relative;
    left:50px;  
}
table{
        margin: auto;
        display: table;
}
.aranha{
    margin-left: 12%;
    height:200px ;
    width: 200px;
}
td{
width: 50px;
}
.at{
    background-color: #b28bd5;        
    width:300px;
    height: 300px;
    border-radius: 50px;
}
#cor{
    background-color:rgba(103, 84, 119, 0.9);
    height: 450px;
    width: 80%;
    margin: auto;
    display: table;
    border-radius: 30px;
}

